name: Add issues to project
on:
  issues:
    types:
      - opened
jobs:
  add-to-project:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }}
    steps:
      - name: Add issue to project
        run: |
          PROJECT_NUMBER=2
          ORG=OGCraftMC          

          PROJECT_ID=$(gh api graphql -f query='
            query($org: String!, $num: Int!) {
              organization(login: $org) {
                projectV2(number: $num) {
                  id
                }
              }
            }' -f org="$ORG" -F num=$PROJECT_NUMBER --jq '.data.organization.projectV2.id')

          gh api graphql -f query='
            mutation($proj: ID!, $item: ID!) {
              addProjectV2ItemById(input: {projectId: $proj, contentId: $item}) {
                item { id }
              }
            }' -f proj="$PROJECT_ID" -f item="${{ github.event.issue.node_id }}"
